body{
	margin: 0px;
	padding: 0px;
	padding-left: 20px;
	
}

.arrow{
	text-decoration: none;
	font-weight: bold;
}
.arrow:hover{
	text-decoration: underline;
	color: #cc0000;
	
}
a:visited{
	color: blue;
	
}
.shell{
	border: solid black 1px;
	width: 350px;
	height: 200px;
	text-align: center;
	border-radius: 8px;
	padding: 0px;
	margin: 0px;
	}

.bar{
	background-color: #800000;
	color: white;
	border-style: hidden;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	}
	
.input {
    display: inline-block;
    width: 150px;
    height: 100px;
    margin: 0px;
    border: collapse;
	}
	.error{
	color: red;
	}